body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

h2 {
  font-size: 4.5rem;
  font-weight: 900;
}

h3 {
  font-size: 2.5rem;
  font-weight: 700;
}

.section--header {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1px;

  @media screen and (max-width: 642px) {
    font-size: 4rem
  }
}

.section--sub {
  font-weight: 400;
  letter-spacing: 1px;
}

.header {
  &__nav--link {
    font-size: 1.4rem;
    font-weight: 700;
  }

  &__name {
    font-size: 2.5rem;
    font-weight: 700;
  }

  &__title {
    font-weight: 900;
    font-size: 12rem;

    @media screen and (max-width: 522px) {
      font-size: 9rem;
    }
  }

  &__title--1 {
    font-size: 10rem;
    backface-visibility: hidden;

    @media screen and (max-width: 522px) {
      font-size: 7rem;
    }
  }

  &__cvbtn--link,
  &__cvbtn--link:link,
  &__cvbtn--link:visited {
    font-size: 2.3rem;
    letter-spacing: 6px;
  }

  &-2 {
    &__para {
      font-size: 1.7rem;
      letter-spacing: .1rem;
      font-weight: 400;
    }

    &__email {
      font-size: 1.7rem;
      font-weight: 400;
    }

    &__btn,
    &__btn:link,
    &__btn:visited {
      font-size: 1.9rem;
      font-weight: 700;
    }

    &__backbtn,
    &__backbtn:link,
    &__backbtn:visited {
      font-size: 1.9rem;
      font-weight: 700;
    }
  }
}

.services {
  &__card--header {
    font-size: 2rem;
    font-weight: 700;

    @media screen and (max-width: 642px) {
      font-size: 3rem;
    }
  }

  &__card--para {
    font-size: 2rem;
    font-weight: 400;

    @media screen and (max-width: 642px) {
      font-size: 3.5rem
    }
  }
}

.records {
  & p {
    font-size: 2.3rem;
    font-weight: 700;
    letter-spacing: 1.5px;
  }
}

.clients {
  &--name {
    font-size: 3rem;
    font-weight: 700;

    @media screen and (max-width: 642px) {
      font-size: 5rem;
    }
  }

  &--job {
    font-size: 1.5rem;
    font-weight: 400;

    @media screen and (max-width: 642px) {
      font-size: 2.5rem
    }
  }

  &--review {
    font-size: 2rem;
    font-weight: 400;

    @media screen and (max-width: 642px) {
      font-size: 2.8rem;
    }
  }
}

.blogs {
  &__card--header {
    font-size: 1.8rem;
    font-weight: 700;
  }

  &__card--para {
    font-size: 1.5rem;
    font-weight: 400;
  }

  &__card--date {
    font-size: 1.5rem;
  }

  &__card--btn,
  &__card--btn:link,
  &__card--btn:visited {
    font-size: 1.3rem;
    font-weight: 700;
  }

  &__btn--more,
  &__btn--more:link,
  &__btn--more:visited {
    font-size: 1.3rem;
    font-weight: 700;
  }

  &--input {
    font-size: 2rem;
    font-family: inherit;

    &::-webkit-input-placeholder {
      font-size: 1.5rem;
    }
  }

  &--label {
    font-size: 1.5rem;
    font-family: inherit;
  }

  &-btn,
  &--btn:link,
  &--btn:visited {
    font-size: 1.3rem;
    font-weight: 700;
  }
}

.contact {
  &--input {
    font-size: 1.5rem;
    font-weight: 700;

    &::-webkit-input-placeholder {
      font-weight: 700;
      font-size: 1.4rem;
      font-family: inherit;
    }
  }

  &--description {
    font-size: 2rem;
    font-weight: 700;

    &::-webkit-input-placeholder {
      font-weight: 700;
      font-size: 1.6rem;
      font-family: inherit;
    }
  }

  &--addresses-listitem {
    font-size: 1.6rem;
    font-weight: 900;
  }

  &--btn {
    font-size: 1.2rem;
    font-weight: 700
  }
}