:root {
  --color-primary: #2f3542;
  --color-white: #ffffff;
  --color-black: #000;
  --color-grey-white: #dfe6e9;
  --color-services: #f2f2f2;
  --color-black-2: #222;
  --color-blue: #2c3e50;
  --prim-transition: all 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  --sec-transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
  --box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}