<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="">
  <title>webdev portfolio</title>
</head>

<body>
  <div class="container">
    <header class="header">
      <ul class="header__nav">
        <li class="header__nav--item" id='header__about--link'><a href="" class="header__nav--link">about</a></li>
        <li class="header__nav--item"><a href="" class="header__nav--link">services</a></li>
        <li class="header__nav--item"><a href="" class="header__nav--link">portfolio</a></li>
        <li class="header__nav--item"><a href="" class="header__nav--link">clients</a></li>
        <li class="header__nav--item"><a href="" class="header__nav--link">blog</a></li>
        <li class="header__nav--item"><a href="" class="header__nav--link">contact</a></li>
      </ul>
      <input type="checkbox" id="header--checkbox" class="header-2--checkbox">
      <div class="header__container">
        <div class="header-1">
          <h1 class="header__name">Jerry</h1>

          <h2 class="header__title">
            <span class="header__title--1">jerry</span>
            <span class="header__title--2">
              <p class="header__title--para">maestro</p>
              <div class="header__socials">
                <span>
                  <svg class="header__socials--icon">
                    <use xlink:href="../img/sprite.svg#icon-facebook"></use>
                  </svg>
                </span>
                <span>
                  <svg class="header__socials--icon">
                    <use xlink:href="../img/sprite.svg#icon-github"></use>
                  </svg>
                </span>
                <span>
                  <svg class="header__socials--icon">
                    <use xlink:href="../img/sprite.svg#icon-instagram2"></use>
                  </svg>
                </span>
                <span>
                  <svg class="header__socials--icon">
                    <use xlink:href="../img/sprite.svg#icon-linkedin2"></use>
                  </svg>
                </span>
                <span>
                  <svg class="header__socials--icon">
                    <use xlink:href="../img/sprite.svg#icon-behance"></use>
                  </svg>
                </span>
              </div>
            </span>
          </h2>
        </div>
        <div class="header-2">
          <div class="header-2__side header-2__side--front">

          </div>
          <div class="header-2__side header-2__side--back">
            <div class="header-2--about">
              <figure class="header-2__fig">
                <img src="../img/dude1.jpg" alt="" class="header-2__img">
              </figure>
              <h2 class="header-2__title">About Me</h2>
              <h3 class="header-2__sub">UI/UX Designer & Web Developer</h3>
              <p class="header-2__para header-2__para--1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
                eaque quia
                magni
                ipsam numquam odio natus, quidem, tempore fugit libero ipsum incidunt sequi similique soluta nesciunt
                alias inventore ab dolore.</p>
              <p class="header-2__para header-2__para--2">It is a long established fact that a reader will be
                distracted by the
                readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making
                it look like readable English.</p>
              <p class="header-2__email">
                <span class="header-2__email--icon">
                  <svg class="header-2__email--svg">
                    <use xlink:href="../img/sprite.svg#icon-envelop"></use>
                  </svg>
                </span>
                <span class="header-2__email--label">Email:</span> jerrymaestro@gmail.com
              </p>
              <div class="header-2--btns">
                <a href="#" class="header-2__btn">my cv</a>
                <a href="#" id="header-2--backbtn" class="header-2__backbtn">
                  <span>
                    <svg class="header-2--icon">
                      <use xlink:href="../img/sprite.svg#icon-chevron-left"></use>
                    </svg>
                  </span>
                  back
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!--beginning of services section-->
    <div class="services">
      <div class="services__container">
        <h2 class="services--header section--header">Services</h2>
        <h3 class="services--sub section--sub">Some Things I'm Really Good At</h3>
        <div class="services--cards">
          <div class="services--card">
            <span class=services__card--iconspan>
              <svg class="services__card--icon">
                <use xlink:href="../img/sprite.svg#icon-sphere"></use>
              </svg>
            </span>
            <h4 class="services__card--header">web development</h4>
            <p class="services__card--para">
              Lorem Ipsum is simply dummy text of the Lorem has been the industry's standard dummy text ever.
            </p>
          </div>
          <div class="services--card">
            <span class=services__card--iconspan>
              <svg class="services__card--icon">
                <use xlink:href="../img/sprite.svg#icon-brush"></use>
              </svg>
            </span>
            <h4 class="services__card--header">web development</h4>
            <p class="services__card--para">
              Lorem Ipsum is simply dummy text of the Lorem has been the industry's standard dummy text ever.
            </p>
          </div>
          <div class="services--card">
            <span class=services__card--iconspan>
              <svg class="services__card--icon">
                <use xlink:href="../img/sprite.svg#icon-database1"></use>
              </svg>
            </span>
            <h4 class="services__card--header">web development</h4>
            <p class="services__card--para">
              Lorem Ipsum is simply dummy text of the Lorem has been the industry's standard dummy text ever.
            </p>
          </div>
          <div class="services--card">
            <span class=services__card--iconspan>
              <svg class="services__card--icon">
                <use xlink:href="../img/sprite.svg#icon-camera"></use>
              </svg>
            </span>
            <h4 class="services__card--header">web development</h4>
            <p class="services__card--para">
              Lorem Ipsum is simply dummy text of the Lorem has been the industry's standard dummy text ever.
            </p>
          </div>
          <div class="services--card">
            <span class=services__card--iconspan>
              <svg class="services__card--icon">
                <use xlink:href="../img/sprite.svg#icon-video-camera"></use>
              </svg>
            </span>
            <h4 class="services__card--header">web development</h4>
            <p class="services__card--para">
              Lorem Ipsum is simply dummy text of the Lorem has been the industry's standard dummy text ever.
            </p>
          </div>
          <div class="services--card">
            <span class=services__card--iconspan>
              <svg class="services__card--icon">
                <use xlink:href="../img/sprite.svg#icon-image"></use>
              </svg>
            </span>
            <h4 class="services__card--header">web development</h4>
            <p class="services__card--para">
              Lorem Ipsum is simply dummy text of the Lorem has been the industry's standard dummy text ever.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--ending of services section-->

    <div class="records">
      <div class="records__container">

      </div>
    </div>

    <!--beginning of blogs section-->
    <div class="blogs">
      <div class="blogs__container">
        <h2 class="blogs--header section--header">Blogs</h2>
        <h3 class="blogs--sub section--sub">A Few Of My Recent Blog Posts</h3>
        <div class="blogs--slide">
          <div class="blogs--cards">
            <div class="blogs--card">
              <figure class="blogs__card--fig">
                <img src="../img/blog1.jpg" alt="" class="blogs__card--img">
              </figure>
              <div class="blogs__card--text">
                <h4 class="blogs__card--header">What I Love About The Web 1</h4>
                <p class="blogs__card--para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam pariatur
                  qui excepturi laudantium consectetur consequuntur, omnis eaque inventore deserunt!</p>
                <span class="blogs__card--bottom">
                  <a href="#" class="blogs__card--btn">Read More</a>
                  <p class="blogs__card--date">1/April/2018</p>
                </span>
              </div>
            </div>

            <div class="blogs--card">
              <figure class="blogs__card--fig">
                <img src="../img/blog2.jpg" alt="" class="blogs__card--img">
              </figure>
              <div class="blogs__card--text">
                <h4 class="blogs__card--header">What I Love About UI Design</h4>
                <p class="blogs__card--para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam pariatur
                  qui excepturi laudantium consectetur consequuntur, omnis eaque inventore deserunt!</p>
                <span class="blogs__card--bottom">
                  <a href="#" class="blogs__card--btn">Read More</a>
                  <p class="blogs__card--date">1/April/2018</p>
                </span>
              </div>
            </div>

            <div class="blogs--card">
              <figure class="blogs__card--fig">
                <img src="../img/blog3.jpg" alt="" class="blogs__card--img">
              </figure>
              <div class="blogs__card--text">
                <h4 class="blogs__card--header">Thinking About Good UX</h4>
                <p class="blogs__card--para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam pariatur
                  qui excepturi laudantium consectetur consequuntur, omnis eaque inventore deserunt!</p>
                <span class="blogs__card--bottom">
                  <a href="#" class="blogs__card--btn">Read More</a>
                  <p class="blogs__card--date">1/April/2018</p>
                </span>
              </div>
            </div>

            <div class="blogs--card">
              <figure class="blogs__card--fig">
                <img src="../img/blog3.jpg" alt="" class="blogs__card--img">
              </figure>
              <div class="blogs__card--text">
                <h4 class="blogs__card--header">Thinking About Good UX</h4>
                <p class="blogs__card--para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam pariatur
                  qui excepturi laudantium consectetur consequuntur, omnis eaque inventore deserunt!</p>
                <span class="blogs__card--bottom">
                  <a href="#" class="blogs__card--btn">Read More</a>
                  <p class="blogs__card--date">1/April/2018</p>
                </span>
              </div>
            </div>

            <div class="blogs--card">
              <figure class="blogs__card--fig">
                <img src="../img/blog3.jpg" alt="" class="blogs__card--img">
              </figure>
              <div class="blogs__card--text">
                <h4 class="blogs__card--header">Thinking About Good UX</h4>
                <p class="blogs__card--para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam pariatur
                  qui excepturi laudantium consectetur consequuntur, omnis eaque inventore deserunt!</p>
                <span class="blogs__card--bottom">
                  <a href="#" class="blogs__card--btn">Read More</a>
                  <p class="blogs__card--date">1/April/2018</p>
                </span>
              </div>
            </div>

            <div class="blogs--card">
              <figure class="blogs__card--fig">
                <img src="../img/blog3.jpg" alt="" class="blogs__card--img">
              </figure>
              <div class="blogs__card--text">
                <h4 class="blogs__card--header">Thinking About Good UX</h4>
                <p class="blogs__card--para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam pariatur
                  qui excepturi laudantium consectetur consequuntur, omnis eaque inventore deserunt!</p>
                <span class="blogs__card--bottom">
                  <a href="#" class="blogs__card--btn">Read More</a>
                  <p class="blogs__card--date">1/April/2018</p>
                </span>
              </div>
            </div>
          </div>
        </div>

        <a href="#" class="blogs__btn--more">view more</a>
      </div>
    </div>
    <!--ending of blogs section-->
  </div>
</body>

</html>