<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="">
  <title>webdev portfolio</title>
</head>

<body>
  <div class="container">
    <header class="header">
      <ul class="header__nav">
        <li class="header__nav--item" id='header__about--link'><a href="" class="header__nav--link">about</a></li>
        <li class="header__nav--item"><a href="" class="header__nav--link">services</a></li>
        <li class="header__nav--item"><a href="" class="header__nav--link">portfolio</a></li>
        <li class="header__nav--item"><a href="" class="header__nav--link">clients</a></li>
        <li class="header__nav--item"><a href="" class="header__nav--link">blog</a></li>
        <li class="header__nav--item"><a href="" class="header__nav--link">contact</a></li>
      </ul>
      <input type="checkbox" class="header-2--checkbox">
      <div class="header__container">
        <div class="header-1">
          <h1 class="header__name">Jerry</h1>

          <h2 class="header__title">
            <span class="header__title--1">jerry</span>
            <span class="header__title--2">
              <p class="header__title--para">maestro</p>
              <div class="header__socials">
                <span>
                  <svg class="header__socials--icon">
                    <use xlink:href="../img/sprite.svg#icon-facebook"></use>
                  </svg>
                </span>
                <span>
                  <svg class="header__socials--icon">
                    <use xlink:href="../img/sprite.svg#icon-github"></use>
                  </svg>
                </span>
                <span>
                  <svg class="header__socials--icon">
                    <use xlink:href="../img/sprite.svg#icon-instagram2"></use>
                  </svg>
                </span>
                <span>
                  <svg class="header__socials--icon">
                    <use xlink:href="../img/sprite.svg#icon-linkedin2"></use>
                  </svg>
                </span>
                <span>
                  <svg class="header__socials--icon">
                    <use xlink:href="../img/sprite.svg#icon-behance"></use>
                  </svg>
                </span>
              </div>
            </span>
          </h2>
          <!--<div class="header__cvbtn">
            <label for="cv-toggle" class="header__cvbtn--link">cv</label>
          </div>-->
        </div>
        <input type="checkbox" class="header__cvbtn--toggle" id="cv-toggle">
        <div class="header-2">
          <div class="header-2__side header-2__side--front">

          </div>
          <div class="header-2__side header-2__side--back">
            <div class="header-2--about">

            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="services">

    </div>
  </div>
</body>

</html>