<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="">
  <title>webdev portfolio</title>
</head>

<body>
  <input type="checkbox" id="overlay--control">
  <div class="overlay" id="overlay"></div>
  <div class="container" id="container">
    <!--beginning of header section-->
    <header class="header">
      <ul class="header__nav">
        <li class="header__nav--item" id='header__about--link'><a href="" class="header__nav--link">about</a></li>
        <li class="header__nav--item"><a href="" class="header__nav--link">services</a></li>
        <li class="header__nav--item"><a href="" class="header__nav--link">portfolio</a></li>
        <li class="header__nav--item"><a href="" class="header__nav--link">blog</a></li>
        <li class="header__nav--item" id='header__contact--link'><a href="" class="header__nav--link">contact</a></li>
      </ul>
      <input type="checkbox" id="header--checkbox" class="header-2--checkbox">
      <div class="header__container">
        <div class="header-1">
          <h1 class="header__name">Jerry</h1>

          <h2 class="header__title">
            <span class="header__title--1">jerry</span>
            <span class="header__title--2">
              <p class="header__title--para">maestro</p>
              <div class="header__socials">
                <span>
                  <svg class="header__socials--icon">
                    <use xlink:href="../img/sprite.svg#icon-facebook"></use>
                  </svg>
                </span>
                <span>
                  <svg class="header__socials--icon">
                    <use xlink:href="../img/sprite.svg#icon-github"></use>
                  </svg>
                </span>
                <span>
                  <svg class="header__socials--icon">
                    <use xlink:href="../img/sprite.svg#icon-instagram2"></use>
                  </svg>
                </span>
                <span>
                  <svg class="header__socials--icon">
                    <use xlink:href="../img/sprite.svg#icon-linkedin2"></use>
                  </svg>
                </span>
                <span>
                  <svg class="header__socials--icon">
                    <use xlink:href="../img/sprite.svg#icon-behance"></use>
                  </svg>
                </span>
              </div>
            </span>
          </h2>
        </div>
        <div class="header-2">
          <div class="header-2__side header-2__side--front">

          </div>
          <div class="header-2__side header-2__side--back">
            <div class="header-2--about">
              <figure class="header-2__fig">
                <img src="../img/dude1.jpg" alt="" class="header-2__img">
              </figure>
              <h2 class="header-2__title">About Me</h2>
              <h3 class="header-2__sub">UI/UX Designer & Web Developer</h3>
              <p class="header-2__para header-2__para--1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
                eaque quia
                magni
                ipsam numquam odio natus, quidem, tempore fugit libero ipsum incidunt sequi similique soluta nesciunt
                alias inventore ab dolore.</p>
              <p class="header-2__para header-2__para--2">It is a long established fact that a reader will be
                distracted by the
                readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making
                it look like readable English.</p>
              <p class="header-2__email">
                <span class="header-2__email--icon">
                  <svg class="header-2__email--svg">
                    <use xlink:href="../img/sprite.svg#icon-mail"></use>
                  </svg>
                </span>
                <span class="header-2__email--label">Email:</span> jerrymaestro@gmail.com
              </p>
              <div class="header-2--btns">
                <a href="#" class="header-2__btn">my cv</a>
                <a href="#" id="header-2--backbtn" class="header-2__backbtn">
                  <span>
                    <svg class="header-2--icon">
                      <use xlink:href="../img/sprite.svg#icon-chevron-left"></use>
                    </svg>
                  </span>
                  back
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!--ending of header section-->

    <!--beginning of services section-->
    <div class="services">
      <div class="services__container">
        <h2 class="services--header section--header">Services</h2>
        <h3 class="services--sub section--sub">Some Things I'm Really Good At</h3>
        <div class="services--cards">
          <div class="services--card">
            <span class=services__card--iconspan>
              <svg class="services__card--icon">
                <use xlink:href="../img/sprite.svg#icon-sphere"></use>
              </svg>
            </span>
            <h4 class="services__card--header">web development</h4>
            <p class="services__card--para">
              Lorem Ipsum is simply dummy text of the Lorem has been the industry's standard dummy text ever.
            </p>
          </div>
          <div class="services--card">
            <span class=services__card--iconspan>
              <svg class="services__card--icon">
                <use xlink:href="../img/sprite.svg#icon-brush"></use>
              </svg>
            </span>
            <h4 class="services__card--header">web design</h4>
            <p class="services__card--para">
              Lorem Ipsum is simply dummy text of the Lorem has been the industry's standard dummy text ever.
            </p>
          </div>
          <div class="services--card">
            <span class=services__card--iconspan>
              <svg class="services__card--icon">
                <use xlink:href="../img/sprite.svg#icon-database1"></use>
              </svg>
            </span>
            <h4 class="services__card--header">database administration</h4>
            <p class="services__card--para">
              Lorem Ipsum is simply dummy text of the Lorem has been the industry's standard dummy text ever.
            </p>
          </div>
          <div class="services--card">
            <span class=services__card--iconspan>
              <svg class="services__card--icon">
                <use xlink:href="../img/sprite.svg#icon-camera"></use>
              </svg>
            </span>
            <h4 class="services__card--header">photoshop</h4>
            <p class="services__card--para">
              Lorem Ipsum is simply dummy text of the Lorem has been the industry's standard dummy text ever.
            </p>
          </div>
          <div class="services--card">
            <span class=services__card--iconspan>
              <svg class="services__card--icon">
                <use xlink:href="../img/sprite.svg#icon-film"></use>
              </svg>
            </span>
            <h4 class="services__card--header">video editing</h4>
            <p class="services__card--para">
              Lorem Ipsum is simply dummy text of the Lorem has been the industry's standard dummy text ever.
            </p>
          </div>
          <div class="services--card">
            <span class=services__card--iconspan>
              <svg class="services__card--icon">
                <use xlink:href="../img/sprite.svg#icon-images"></use>
              </svg>
            </span>
            <h4 class="services__card--header">photography</h4>
            <p class="services__card--para">
              Lorem Ipsum is simply dummy text of the Lorem has been the industry's standard dummy text ever.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--ending of services section-->

    <!--beginning of records section-->
    <div class="records">
      <div class="records__container">
        <span class="records--item">
          <svg class="records--icon">
            <use xlink:href="../img/sprite.svg#icon-new-message"></use>
          </svg>
          <p class="records--number">1000</p>
          <p class="records--caption">Lines Of Code</p>
        </span>
        <span class="records--item">
          <svg class="records--icon">
            <use xlink:href="../img/sprite.svg#icon-users"></use>
          </svg>
          <p class="records--number">300</p>
          <p class="records--caption">Happy Clients</p>
        </span>
        <span class="records--item">
          <svg class="records--icon">
            <use xlink:href="../img/sprite.svg#icon-thumbs-up"></use>
          </svg>
          <p class="records--number">37</p>
          <p class="records--caption">Projects Completed</p>
        </span>
        <span class="records--item">
          <svg class="records--icon">
            <use xlink:href="../img/sprite.svg#icon-trophy"></use>
          </svg>
          <p class="records--number">40</p>
          <p class="records--caption">Awards Achieved</p>
        </span>
      </div>
    </div>
    <!--end of records section-->

    <!--beginning of portfolio section-->
    <div class="portfolio">
      <div class="portfolio__container">
        portfolio
      </div>
    </div>
    <!--ending of portfolio section-->

    <!--beginning of clients section-->
    <div class="clients">
      <div class="clients--container">
        <div class="clients--slider-parent">
          <div class="clients--slider">
            <div class="clients--card">
              <figure class="clients--fig"><img src="../img/avtar1.jpg" alt="" class="clients--img"></figure>
              <p class="clients--name">Jack Done</p>
              <p class="clients--job">Web Designer</p>
              <p class="clients--review">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A est quibusdam voluptas, quae iste corporis
                vel
                provident, nostrum adipisci soluta molestias sed, enim quod quaerat. Iure, eius? Commodi, sit ducimus.
              </p>
            </div>
            <div class="clients--card">
              <figure class="clients--fig"><img src="../img/avtar1.jpg" alt="" class="clients--img"></figure>
              <p class="clients--name">Jack Dorsey</p>
              <p class="clients--job">Web Designer</p>
              <p class="clients--review">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A est quibusdam voluptas, quae iste corporis
                vel
                provident, nostrum adipisci soluta molestias sed, enim quod quaerat. Iure, eius? Commodi, sit ducimus.
              </p>
            </div>
            <div class="clients--card">
              <figure class="clients--fig"><img src="../img/avtar1.jpg" alt="" class="clients--img"></figure>
              <p class="clients--name">Jack Dorsey</p>
              <p class="clients--job">Web Designer</p>
              <p class="clients--review">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A est quibusdam voluptas, quae iste corporis
                vel
                provident, nostrum adipisci soluta molestias sed, enim quod quaerat. Iure, eius? Commodi, sit ducimus.
              </p>
            </div>
            <div class="clients--card">
              <figure class="clients--fig"><img src="../img/avtar1.jpg" alt="" class="clients--img"></figure>
              <p class="clients--name">Jack Dorsey last</p>
              <p class="clients--job">Web Designer</p>
              <p class="clients--review">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A est quibusdam voluptas, quae iste corporis
                vel
                provident, nostrum adipisci soluta molestias sed, enim quod quaerat. Iure, eius? Commodi, sit ducimus.
              </p>
            </div>
          </div>
        </div>
        <div class="clients--nav">
          <ul class="clients--nav-list">
            <li class="clients--nav-listitem"></li>
            <li class="clients--nav-listitem"></li>
            <li class="clients--nav-listitem"></li>
          </ul>
        </div>
      </div>
    </div>
    <!--ending of clients section-->

    <!--beginning of blogs section-->
    <div class="blogs">
      <div class="blogs__container">
        <h2 class="blogs--header section--header">Blogs</h2>
        <h3 class="blogs--sub section--sub">A Few Of My Recent Blog Posts</h3>
        <div class="blogs--slide">
          <div class="blogs--cards">
            <div class="blogs--card">
              <figure class="blogs__card--fig">
                <img src="../img/blog1.jpg" alt="" class="blogs__card--img">
              </figure>
              <div class="blogs__card--text">
                <h4 class="blogs__card--header">What I Love About The Web 1</h4>
                <p class="blogs__card--para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam pariatur
                  qui excepturi laudantium consectetur consequuntur, omnis eaque inventore deserunt!</p>
                <span class="blogs__card--bottom">
                  <a href="#" class="blogs__card--btn">Read More</a>
                  <p class="blogs__card--date">1/April/2018</p>
                </span>
              </div>
            </div>

            <div class="blogs--card">
              <figure class="blogs__card--fig">
                <img src="../img/blog2.jpg" alt="" class="blogs__card--img">
              </figure>
              <div class="blogs__card--text">
                <h4 class="blogs__card--header">What I Love About UI Design</h4>
                <p class="blogs__card--para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam pariatur
                  qui excepturi laudantium consectetur consequuntur, omnis eaque inventore deserunt!</p>
                <span class="blogs__card--bottom">
                  <a href="#" class="blogs__card--btn">Read More</a>
                  <p class="blogs__card--date">1/April/2018</p>
                </span>
              </div>
            </div>

            <div class="blogs--card">
              <figure class="blogs__card--fig">
                <img src="../img/blog3.jpg" alt="" class="blogs__card--img">
              </figure>
              <div class="blogs__card--text">
                <h4 class="blogs__card--header">Thinking About Good UX</h4>
                <p class="blogs__card--para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam pariatur
                  qui excepturi laudantium consectetur consequuntur, omnis eaque inventore deserunt!</p>
                <span class="blogs__card--bottom">
                  <a href="#" class="blogs__card--btn">Read More</a>
                  <p class="blogs__card--date">1/April/2018</p>
                </span>
              </div>
            </div>

            <div class="blogs--card">
              <figure class="blogs__card--fig">
                <img src="../img/blog3.jpg" alt="" class="blogs__card--img">
              </figure>
              <div class="blogs__card--text">
                <h4 class="blogs__card--header">Thinking About Good UX</h4>
                <p class="blogs__card--para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam pariatur
                  qui excepturi laudantium consectetur consequuntur, omnis eaque inventore deserunt!</p>
                <span class="blogs__card--bottom">
                  <a href="#" class="blogs__card--btn">Read More</a>
                  <p class="blogs__card--date">1/April/2018</p>
                </span>
              </div>
            </div>

            <div class="blogs--card">
              <figure class="blogs__card--fig">
                <img src="../img/blog3.jpg" alt="" class="blogs__card--img">
              </figure>
              <div class="blogs__card--text">
                <h4 class="blogs__card--header">Thinking About Good UX</h4>
                <p class="blogs__card--para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam pariatur
                  qui excepturi laudantium consectetur consequuntur, omnis eaque inventore deserunt!</p>
                <span class="blogs__card--bottom">
                  <a href="#" class="blogs__card--btn">Read More</a>
                  <p class="blogs__card--date">1/April/2018</p>
                </span>
              </div>
            </div>

            <div class="blogs--card">
              <figure class="blogs__card--fig">
                <img src="../img/blog3.jpg" alt="" class="blogs__card--img">
              </figure>
              <div class="blogs__card--text">
                <h4 class="blogs__card--header">Thinking About Good UX</h4>
                <p class="blogs__card--para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam pariatur
                  qui excepturi laudantium consectetur consequuntur, omnis eaque inventore deserunt!</p>
                <span class="blogs__card--bottom">
                  <a href="#" class="blogs__card--btn">Read More</a>
                  <p class="blogs__card--date">1/April/2018</p>
                </span>
              </div>
            </div>
          </div>
        </div>

        <a href="#" class="blogs__btn--more">view more</a>
      </div>

      <div class="blogs__newsletter--section">
        <h3 class="blogs__newsletter--header section--sub">Please Join My Newsletter!</h3>
        <form action="#" class="blogs--form">
          <input type="email" placeholder="Email address" class="blogs--input" id="blog--email" required>
          <label for="blog--email" class="blogs--label">Email address</label>
          <button class="blogs--btn">subscribe</button>
        </form>
      </div>
    </div>
    <!--ending of blogs section-->
  </div>

  <!--beginning of contact section-->
  <div class="contact" id="contact--section">
    <div class="contact__container">
      <h3 class="contact--header section--sub">Get In Touch</h3>
      <form action="#" class="contact--form">
        <input type="text" class="contact--input" id="contact--name" placeholder="Name" required>
        <input type="email" class="contact--input contact--input-email" id="contact--email" placeholder="Email"
          required>
        <textarea type="text" class="contact--input contact--description" id="contact--description" rows="4"
          placeholder="How may I help" required></textarea>
        <button class="contact--btn">send message</button>
      </form>
    </div>
    <div class="contact--addresses">
      <ul class="contact--addresses-list">
        <li class="contact--addresses-listitem">
          <span class="contact--listitem-label">
            <svg class="contact--icon">
              <use xlink:href="../img/sprite.svg#icon-mobile"></use>
            </svg>
          </span>
          <span class="contact--listitem-detail">(+1) 123 456 7890</span>
        </li>
        <li class="contact--addresses-listitem">
          <span class="contact--listitem-label">
            <svg class="contact--icon">
              <use xlink:href="../img/sprite.svg#icon-mail"></use>
            </svg>
          </span>
          <span class="contact--listitem-detail">jerrymaestro@gmail.com</span>
        </li>
        <li class="contact--addresses-listitem">
          <span class="contact--listitem-label">
            <svg class="contact--icon">
              <use xlink:href="../img/sprite.svg#icon-address-book"></use>
            </svg>
          </span>
          <span class="contact--listitem-detail">Gotham Avenue, Resort</span>
        </li>
      </ul>
    </div>
  </div>
  <!--end of contact section-->
</body>

</html>