.blogs {
  position: relative;
  z-index: 1000;
  background: var(--color-services);
  padding: 3rem;

  &__container {
    position: relative;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6.5rem 0;
    padding-bottom: 0rem;
    margin: 0 auto;
  }

  &--header {
    color: var(--color-black-2);
  }

  &--sub {
    position: relative;
    z-index: 4000;
    color: var(--color-black-2);
    text-transform: uppercase;
  }

  &--slide {
    overflow: hidden;
    width: 100%;
    transition: var(--prim-transition);
  }

  &--cards {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    padding: 1.7rem 0;
    transition: var(--prim-transition);
    transform: translateX(70rem);
  }

  &--card {
    margin: 4rem 2rem;
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    flex-shrink: 0;
    align-items: center;
    box-shadow: var(--box-shadow);
  }

  &__card--fig {
    height: 25rem;
    width: 100%;
    overflow: hidden;
  }

  &__card--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__card--text {
    padding: 2rem;
  }

  &__card--header {
    color: var(--color-black-2);
    margin-bottom: 1rem;
    line-height: 3.7rem;
  }

  &__card--para {
    letter-spacing: 1px;
    color: var(--color-blue);
  }

  &__card--bottom {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    margin-top: 1rem;
    color: var(--color-blue);
  }

  &__card--btn,
  &__card--btn:link,
  &__card--btn:visited {
    background: var(--color-blog-btns);
    padding: 1rem 1.4rem;
    margin-top: 1rem;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: var(--color-grey-white);
    display: inline-block;
    transition: var(--prim-transition);
    box-shadow: var(--box-shadow);
  }

  &__card--btn:hover {
    cursor: pointer;
    transform: translateY(-.5rem)
  }

  &__card--btn:active {
    transform: scale(.9);
  }

  &__btn--more,
  &__btn--more:link,
  &__btn--more:visited {
    background: rgba(47, 53, 66, 1.0);
    padding: 1rem 3rem;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: var(--color-grey-white);
    display: inline-block;
    transition: var(--prim-transition);
    box-shadow: var(--box-shadow);
    margin-top: 1.5rem;
  }

  &__btn--more:hover {
    cursor: pointer;
    transform: translateY(-.5rem)
  }

  &__btn--more:active {
    transform: scale(.9);
  }

  &__newsletter--section {
    position: relative;
    background-image: linear-gradient(to right bottom, #2c3e50, rgba(#2c3e50, 0.6)), url(.././img/workstation.jpg);
    margin-top: 4rem;
    padding: 11rem 0;
    min-height: 10rem;
    backface-visibility: hidden;
    transition: var(--prim-transition);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    text-align: center;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(#30336b, 0.7);
      z-index: 2000;
    }
  }

  &__newsletter--header {
    color: var(--color-grey-white);
    position: relative;
    z-index: 6000;
    letter-spacing: 1px;
  }

  &--form {
    position: relative;
    margin: 1rem auto;
    width: 90%;
    display: block;
    color: var(--color-grey-white);
    z-index: 5000;
    transform: translateX(-1rem);
  }

  &--input {
    width: 80%;
    color: var(--color-black);
    padding: 1.5rem 2rem;
    padding-right: 16rem;
    border-radius: 3rem;
    background-color: var(--color-grey-white, 0.5);
    backface-visibility: hidden;
    border: none;
    transition: var(--prim-transition);
    border-bottom: 2px solid transparent;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem #30336b;
      border-bottom: 2px solid var(--color-primary, .1);
    }

    &:focus:invalid {
      border-bottom: 2px solid var(--color-error);
    }

    &::-webkit-input-placeholder {
      color: var(--color-grey-dark);
    }
  }

  &--label {
    position: absolute;
    top: 100%;
    left: 6.3%;
    transition: var(--prim-transition);
    color: var(--color-grey-white);
  }

  &--input:placeholder-shown+&--label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &--btn,
  &--btn:link,
  &--btn:visited {
    text-transform: uppercase;
    padding: 2.2rem;
    width: 9.8%;
    transition: var(--prim-transition);
    transform: translateX(-14.9rem) translateY(-.2rem);
    height: 100%;
    border: none;
    background: var(--color-blog-btns);
    color: var(--color-grey-white);
    border-radius: 3rem;
    box-shadow: var(--box-shadow)
  }

  &--btn:hover {
    cursor: pointer;
    background: rgba(#2c3e50, .9);
  }

  &--btn:active {
    transform: translateX(-14.9rem) translateY(-.2rem) scale(.9);
    outline: var(--color-blog-btns)
  }
}