.header {
  position: relative;
  height: 91.5rem;
  padding: 0 3rem;
  padding-top: 3rem;

  &__nav {
    position: absolute;
    top: 3%;
    right: 8%;
    display: flex;
    list-style: none;
    z-index: 3000;
  }

  &__nav--item {
    margin: 0 1rem;
    display: inline-block;
    text-align: center;
  }

  &__nav--link,
  &__nav--link:link,
  &__nav--link:visited {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    position: relative;
    color: var(--color-grey-white);
    padding: 1.8rem 1.5rem;
    display: inline-block;
    transition: var(--sec-transition);

    &::before {
      position: absolute;
      content: '';
      bottom: 29%;
      left: 0;
      width: 5rem;
      height: 1%;
      background: var(--color-grey-white);
    }
  }

  &__nav--link:hover,
  &__nav--link:active {
    cursor: pointer;
    transform: translateY(-.5rem);
  }

  &__container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 97%;
      width: 41.6%;
      transition: var(--prim-transition);
      background: linear-gradient(to right bottom, rgba(19, 20, 20, 1), rgba(19, 20, 20, .5)), url(.././img/foldeddude.jpg);
    }
  }

  &-1 {
    position: relative;
    background-image: linear-gradient(to right bottom, #2c3e50, rgba(#2c3e50, 0.8)), url(.././img/workstation.jpg);
    background-size: cover;
    background-position: top;
    width: 70%;
    margin-right: .2rem;
    z-index: 2000;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(#30336b, 0.7);
    }
  }

  &__name {
    position: absolute;
    color: var(--color-grey-white);
    top: 1%;
    left: 10%;
    cursor: pointer
  }

  &__title {
    margin-top: 15rem;
    display: inline-block;
    transition: var(--prim-transition);
    transform: translateX(31rem);
    backface-visibility: hidden;
    color: var(--color-grey-white);
  }

  &__title--2 {
    display: block;
    position: relative;
    transform: translateX(8rem) translateY(-18rem);
  }

  &__title--para {
    position: relative;
    display: inline-block;

    &::before {
      position: absolute;
      content: '';
      bottom: 21%;
      left: 1.5%;
      width: 75%;
      height: 1%;
      background: var(--color-grey-white);
    }
  }

  &__socials {
    display: flex;
    transform: translateY(-23.5rem);
  }

  &__socials--icon {
    height: 3rem;
    width: 3rem;
    margin-right: 4rem;
    fill: var(--color-grey-white);
    transition: var(--prim-transition);
    cursor: pointer;
    backface-visibility: hidden;
  }

  &__socials--icon:hover {
    transform: translate(-.5rem) scale(1.1);
  }

  &-2 {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 97%;
    width: 50%;
    z-index: 1000;

    &--checkbox {
      position: absolute;
      top: 0;
      left: 0;
      //z-index: -1;
      //display: none;
    }

    &--checkbox:checked~.header__container>.header-1>.header__title {
      transform: translateX(5rem);
    }

    &--checkbox:checked~.header__container>&>&__side--front {
      transform: rotateY(-180deg);
    }

    &--checkbox:checked~.header__container>&>&__side--back {
      transform: rotateY(0);
    }

    &--checkbox:checked~.header__container>&>&__side--back>&--about {
      visibility: visible;
    }

    &--checkbox:checked~.header__container>&>&__side--back>&--about>&__btn {
      opacity: 1;
    }

    &__side {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-radius: 3px;
      overflow: hidden;
      transition: var(--prim-transition);
    }

    &__side--front {
      background: linear-gradient(to right bottom, rgba(19, 20, 20, 1), rgba(19, 20, 20, .5)), url(.././img/hikedude.jpg);
      background-size: cover;
      background-position: top;


      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 0%;
        transition: var(--prim-transition);
        background: rgba(74, 27, 146, .5);
      }
    }

    &__side--back {
      background: linear-gradient(to right bottom, rgba(19, 20, 20, 1), rgba(19, 20, 20, .7)), url(.././img/foldeddude.jpg);
      background-size: cover;
      background-position: top;
      transform: rotateY(180deg);
      overflow: hidden;
    }

    &--about {
      width: 80%;
      margin: 13rem auto;
      background: transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--color-grey-white);
      visibility: hidden;
      transition: all 1.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &__fig {
      height: 15rem;
      width: 15rem;
      border-radius: 50%;
      overflow: hidden;
      border: solid var(--color-black);
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    &__title {
      text-align: center;
    }

    &__sub {
      text-align: center;
      margin-bottom: 1rem
    }

    &__para {
      text-align: left;
      margin-bottom: 1rem;
      display: inline-block;
      align-self: flex-start;
    }

    &__email {
      text-align: left;
      align-self: flex-start;
      margin-bottom: 1rem;
      display: flex;
    }

    &__email--icon {
      margin-right: 1rem;
      transform: translateY(.3rem);
    }

    &__email--svg {
      height: 2rem;
      width: 2rem;
      fill: var(--color-grey-white);
    }

    &__email--label {
      margin-right: .8rem;
    }

    &__btn,
    &__btn:link,
    &__btn:visited {
      align-self: flex-start;
      background: var(--color-grey-white);
      padding: .6rem 3.5rem;
      border: none;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      color: var(--color-black);
      display: inline-block;
      transition: var(--sec-transition);
      backface-visibility: hidden;
      margin-top: 1rem;
      box-shadow: var(--box-shadow);
      opacity: 0;
    }

    &__btn:hover {
      cursor: pointer;
      transform: translateY(-.5rem)
    }

    &__btn:active {
      transform: scale(.9);
    }
  }
}